/* Geometric Abstract Pattern with Glass Morphism Effect */

/* Set background color */
body {
    background-image: url('jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Center the form */
  .register {
    font-family: 'Helvetica', sans-serif;
  font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Apply glass morphism effect to the form */
  .register form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-radius: 10px;
  }
  
  /* Style form elements */
  .register form h1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .register form label {
    display: none;
  }
  
  .register form input[type="text"],
  .register form input[type="password"],
  .register form input[type="email"],
  .register form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 300;
  }
  
  .register form input[type="submit"] {
    background-color: #007aff;
    color: #fff;
    cursor: pointer;
  }
  
  .register form input[type="submit"]:hover {
    background-color: #0056b3;
  }
